:root {
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-border-color: #495057;
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #f8f9fa;
}

.form-check-input:checked {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.form-check-input:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25) !important;
}

.navbar {
    padding: 0.5rem !important;
}
.sidebar .nav-link.active {
    color: #2470dc;
}

.accordion-button:hover {
    background: rgba(0,0,0,0.2);
}
.accordion-body a:hover {
    background: rgba(0,0,0,0.2) !important;
}